<div>
  <div>
    <h1>
      List of all connections of connections
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new connections of connection
    </h2>

    <form action="/insert_connections_of_connection" method="post">
      <div>
        <label for="connection_id_box">
          Connection
        </label>

        <input type="text" id="connection_id_box" name="query_connection_id">
      </div>

      <button>
        Create connections of connection
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Connection
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_connections_of_connections.each do |a_connections_of_connection| %>
      <tr>
        <td>
          <%= a_connections_of_connection.id %>
        </td>

        <td>
          <%= a_connections_of_connection.connection_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_connections_of_connection.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_connections_of_connection.updated_at) %> ago
        </td>

        <td>
          <a href="/connections_of_connections/<%= a_connections_of_connection.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
